.min-h-screen{
    min-height: 100vh;
    
}
.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content:space-between;
}

.justify-center{
    justify-content: center;
}
.font-bold{
    font-weight: bolder;
}

.flex-col{
    flex-direction: column;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2{
    margin-top: 26px;
    margin-bottom: 26px;

}
.px-2{
    padding-left: 13px;
    padding-right: 13px;
}
.text-blue{
    color: rgb(29, 88, 214);
}
.btn{
    padding: 7px 12px;
    border: 2px solid white;
    color:white;
    border-radius: 6px;
    background-color: rgb(231, 165, 50);
    cursor: pointer;
}
.overflow-xhidden{
    overflow-x: hidden;
}
.text-center{
    text-align: center;
}
.underline{
    text-decoration: none;
    font-weight: bold;
}